<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022-23 Python World
   -->
   {% load static %}
   <div class="container-fluid px-md-0 mt-5">
   <div class="row no-gutters justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
         <span class="subheading">Contact</span>
         <h2>Contact Us</h2>
      </div>
   </div>
   <section class="ftco-section bg-light" id="contact">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-12">
               <div class="wrapper">
                  <div class="row no-gutters">
                     <div class="col-md-7 d-flex">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                           <h3 class="mb-4">Get in touch</h3>
                           <!------Error message------------------------->
                           {% if messages %}
                           {% for message in messages %}
                           <p {% if message.tags %} style="color: rgb(112, 246, 112);" class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
                           {% endfor %}
                           {% endif %}
                           <form method="POST" id="contactForm" action="/contact" class="contactForm">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input required type="text" class="form-control" name="name" id="name" placeholder="Name">
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="form-group">
                                       <input required type="email" class="form-control" name="email" id="email" placeholder="Email">
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <input required type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <textarea required name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Message"></textarea>
                                    </div>
                                 </div>
                                 <div class="col-md-12">
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-primary">Send Message</button>
                                       <div class="submitting"></div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="col-md-5 d-flex align-items-stretch">
                        <div class="info-wrap bg-primary w-100 p-lg-5 p-4">
                           <h3 class="mb-4 mt-md-4">Contact us</h3>
                           <div class="dbox w-100 d-flex align-items-start">
                              <div class="icon d-flex align-items-center justify-content-center">
                                 <span class="fa fa-map-marker"></span>
                              </div>
                              <div class="text pl-3">
                                 <p><span>Address:</span> Odisha, India</p>
                              </div>
                           </div>
                           <div class="dbox w-100 d-flex align-items-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                 <span class="fa fa-phone"></span>
                              </div>
                              <div class="text pl-3">
                                 <p><span>Phone:</span> <a href="tel://+91 9938965598">+91 9938965598</a></p>
                              </div>
                           </div>
                           <div class="dbox w-100 d-flex align-items-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                 <span class="fa fa-paper-plane"></span>
                              </div>
                              <div class="text pl-3">
                                 <p><span>Email:</span> <a href="mailto:info@yoursite.com">remotehealth@gmail.com</a></p>
                              </div>
                           </div>
                           <div class="dbox w-100 d-flex align-items-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                 <span class="fa fa-globe"></span>
                              </div>
                              <div class="text pl-3">
                                 <p><span>Website</span> <a href="#">remotehealth.com</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>