<!--
   Made By -: Python World
   Youtube -: www.youtube.com/pythonworldtech
   website - :www.pythonworldtech.in
   email - :pythonworld@gmail.com
   Copyright © 2022-23 Python World
   -->
   <!DOCTYPE html>
   {% load static %}
   <html lang="en" dir="ltr">
      <head>
         <meta charset="utf-8">
         <title>Remote Health || Login</title>
         <link rel="icon" href="{% static 'images/loc.png'%}">
         <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
         <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      </head>
      <body>
         <div class="container">
            <header>Login</header>
            <!------Error message------------------------->
            {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} style="color: rgb(25, 193, 25);" class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
            {% endfor %}
            {% endif %}
            {% if error %}
            <div style="color: red;" class="alert alert-danger" role="alert">
               {{error}}
            </div>
            {% endif %}
            <!---End Error message--------------------------------------->
            <form method="post" action="/">
               {% csrf_token %}
               <div class="input-field">
                  <input type="text" value="{{value.email}}" name="email" required>
                  <label>Email</label>
               </div>
               <div class="input-field">
                  <input class="pswrd" type="password" name="password" required>
                  <span class="show">SHOW</span>
                  <label>Password</label>
               </div>
               <div class="button">
                  <div class="inner"></div>
                  <button>LOGIN</button>
               </div>
            </form>
            <div class="auth">Or login with</div>
            <div class="links">
               <div class="facebook">
                  <i class="fab fa-facebook-square"><span>Facebook</span></i>
               </div>
               <div class="google">
                  <i class="fab fa-google-plus-square"><span>Google</span></i>
               </div>
            </div>
            <div class="signup">
               Not a member? <a href="/signup">Signup now</a>
            </div>
         </div>
         <script>
            var input = document.querySelector('.pswrd');
            var show = document.querySelector('.show');
            show.addEventListener('click', active);
            function active(){
              if(input.type === "password"){
                input.type = "text";
                show.style.color = "#1DA1F2";
                show.textContent = "HIDE";
              }else{
                input.type = "password";
                show.textContent = "SHOW";
                show.style.color = "#111";
              }
            }
         </script>
      </body>
   </html>